include ../mixins/sub-menu.pug
header.header 
    .container 
      .row
        .inner-logo 
           a(href="/")
              img(src="/images/logo.png" alt="Logo")
        .inner-menu 
          ul  
            li
              a(href="/") Trang chủ
            li(class="sub-menu")
              -const pathProduct = "/products";
              a(href=pathProduct) Sản Phẩm 
                +sub-menu(layoutProductsCategory,pathProduct)
            li 
             a(href="/connect") Giới thiệu  

        .inner-search 
          div(class='search__group')
            form(action="/search" method ="GET")
              input(class="input" type="text" name="keyword" laceholder="Nhập từ cần tìm" value=keyword)  
              button(class='icons-search' type="submit") Tìm
        .inner-right 
          .inner-cart 
            a(href="/cart")
              div(class="image-cart")
                img(src="/images/cart.png" alt="Logo card")
                div(class="dot") #{miniCart ? miniCart.totalQuantity : 0}
          .inner-love 
            i.fa-regular.fa-heart
          if(user)
            .inner-avatar 
              .inner-avatar_img
                img(src=user.avatar alt='Avatar' class="avatar" onclick="toggleDropdown()") 
              .dropdown-menu#userDropdown
                .dropdown-header
                  img(src=user.avatar alt='Avatar' class="dropdown-avatar")
                  .dropdown-info
                    .inforName #{user.fullName}
                    .inforEmail #{user.email}
                hr
                a(href="/user/profile" class="dropdown-item") Thông tin cá nhân
                a(href="/user/change-password" class="dropdown-item") Đổi mật khẩu
                a(href="/user/logout" class="dropdown-item") Đăng xuất
            
          else 
            a(href='/user/login')
              .login Đăng nhập 
            a(href='/user/register')
              .logout Đăng ký

            