extends ../../layout/defaul.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
block main
    +alert-success("3000")
    .header-title 
        a.back-button(href="javascript:void(0);" button-go-back) >>Quay lại
        .row 
            .col-12 
                h1 Chi tiết sản phẩm
    .product-detail
        .container.my-5
            .row
                .col-md-6
                    .inner-thumb
                        img(src=product.thumbnail, alt=product.title, class="img-fluid")
                .col-md-6
                    h1(class="inner-title") #{product.title}
                    if (product.category)
                        div(class="inner-category")
                            span Danh mục: 
                            a(href=`/products/${product.category.slug}`) #{product.category.title}
                    if (product.priceNew)
                        div(class="inner-price-new") Giá: <span id="price">#{product.priceNew}</span> $
                    if (product.price && product.discountPercentage)
                        div(class="inner-price-old") Giá cũ: #{product.price} $
                    if (product.discountPercentage)
                        div(class="inner-percent") Giảm tới: <span>#{product.discountPercentage}%</span>
                    if (product.stock)
                        div(class="inner-stock") Còn lại: <span>#{product.stock}</span> sản phẩm
                    
                    form(action=`/cart/add/${product.id}`, method="POST")
                        .quantity-box.d-flex.align-items-center
                            button(type="button", class="btn btn-outline-secondary", id="decrease") -
                            input(
                                id="quantity"
                                class="form-control text-center mx-2"
                                type="number"
                                name="quantity"
                                value="1"
                                min="1"
                                max=product.stock
                                style="width: 60px;"
                            )
                            button(type="button", class="btn btn-outline-secondary", id="increase") +
                        
                        div(class="total-price mt-2") Tổng tiền: <span id="total-price">#{product.priceNew}</span> $
                        
                        button(
                            type="submit"
                            class="btn btn-success btn-block mt-3"
                        ) Thêm vào giỏ hàng
            
            hr
            .container.my-5
                .row
                  .col-12
                    +box-head("Mô tả sản phẩm")
                    .inner-desc !{product.description}