extends ../../layout/defaul.pug
include ../../mixins/alert.pug
block main
  +alert-error("5000")
  +alert-success("5000")
  h1 Tài khoản
  .profile
    .profile-container
      .avatar-section
        img.avatarr(src=user.avatar alt=user.fullName)
      .info-section
        .info-item
          span.info-label Tên:
          span #{user.fullName}
        .info-item
          span.info-label Email:
          span #{user.email}
        .info-item
          span.info-label Số điện thoại:
          span #{user.phone}
        .info-item
          span.info-label Vai trò:
          span Người dùng